fastapi
streamlit
uvicorn
pandas
numpy
sqlalchemy
requests
PyPDF2
openpyxl
mlflow
langchain
faiss-cpu
weaviate-client
sentence-transformers
transformers
apache-airflow
pdfplumber
accelerate
torch
python-dotenv
